<footer class="footer">
  <div class="footer-wave"></div>
  <div class="footer-content">
    <p class="footer-thankyou">Thanks for visiting my website! 🌐</p>
    <p class="footer-connect">Feel free to reach out or follow me for updates:</p>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/josh-row-938394255/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in icon"></i>
      </a>
      <a href="https://github.com/MrRowey" target="_blank" aria-label="GitHub">
        <i class="fab fa-github icon"></i>
      </a>
    </div>
  </div>
</footer>