/* _tech-badge.css */
.tech-badge {
    display: inline-block;
    background-color: #4e54c8;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  